{% extends 'base.html' %}

{% block title %}Policy{% endblock %}

{% block content %}
<!-- markdown 문법 관련 스크립트 -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

{% comment %} <style>
    .policy {
        margin: 0 auto;
        padding: 20px;
        width: 80%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style> {% endcomment %}

<div class="policy" id="policy-content"></div>

<script>
    // 마크다운 텍스트를 변수로 저장
    const markdownText = `
# 개인정보처리방침

AICU(이하 "AICU")는 개인정보 보호법에 따라 수집하는 개인정보의 항목, 수집 및 이용목적, 보유 및 이용기간, 동의 거부권 및 동의 거부 시 불이익에 관한 사항을 다음과 같이 공개합니다.

## 제 1조 (개인정보의 수집 및 이용목적)

- AICU는 아래의 목적으로만 개인정보를 수집, 이용합니다.
  - 회원 가입 의사의 확인, 이용자 식별 등 회원관리
  - 서비스 이용 기록과 접속 빈도 분석, 서비스 이용에 대한 통계 등

## 제 2조 (수집하려는 개인정보의 항목)

- AICU는 이용자가 서비스를 이용하고자 하는 경우 서비스 이용을 위한 최소한의 개인정보를 수집합니다.
- 회원가입 시점에 수집하는 개인정보는 아래와 같습니다.
  - 필수항목: 이름, 전화번호
  - 서비스 이용 과정에서 생성되는 서비스 이용 기록, 기기정보

## 제 3조 (개인정보의 보유 및 이용기간)

- AICU는 회원탈퇴 등 서비스 이용 종료 시 수집한 개인정보를 지체없이 파기합니다.

## 제 4조 (개인정보의 제3자 제공)

- AICU는 정보주체의 사전 동의 없이 개인정보를 제3자에게 제공하지 않습니다. 단, 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우에 한하여 개인정보를 제3자에게 제공할 수 있습니다.

## 제 5조 (민감정보의 공개 가능성 및 비공개를 선택하는 방법)

- AICU는 사생활 침해의 위험성이 발생할 수 있다고 판단되는 민감정보를 공개하지 않습니다.

## 제 6조 (개인정보처리의 위탁)

- AICU는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.
  - 위탁받는 자: Amazon Web Services, Inc.
  - 위탁 업무 목적: 데이터 보관 및 인프라 관리

## 제 7조 (개인정보의 국외 이전)

- 해당사항 없음

## 제 8조 (개인정보의 파기)

- AICU는 개인정보 보유기간의 경과, 처리 목적 달성 등 개인정보가 불필요하게 되었을 때에 지체 없이 해당 개인정보를 파기합니다.

## 제 9조 (정보주체의 권리∙의무 및 행사방법)

- 정보주체는 AICU에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
  - 개인정보의 열람 요구
  - 오류 등이 있을 경우 정정 요구
  - 삭제 요구
  - 처리 정지 요구

## 제 10조 (개인정보의 안정성 확보조치)

- AICU는 개인정보 보호법 제29조에 따라 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
  - 관리적 조치: 내부관리계획 수립 ∙ 시행, 정기적 직원 교육 등
  - 기술적 조치: 개인정보처리시스템의 접근권한 관리, 개인정보의 암호화, 보안프로그램 설치
  - 물리적 조치: 개인정보가 저장∙보관된 장소의 시건, 출입통제

## 제 11 조 (개인정보 자동 수집 장치의 설치 ∙ 운영 및 거부에 관한 사항)

- AICU는 이용자에게 개별적인 맞춤서비스를 제공하기 위해 쿠키를 사용합니다.

## 제 12 조 (개인정보 보호책임자)

- 개인정보 보호책임자
  - 성명: 황은아
  - 직책: CEO
  - 이메일: aicu.contact@gmail.com

## 제 13 조 (정보주체의 동의없이 추가적인 이용 또는 제공할 때 판단기준)

- 당초 수집 목적과 관련성이 있는지 여부
- 개인정보를 수집한 정황 또는 처리 관행에 비추어 볼 때 개인정보의 추가적인 이용 또는 제공에 대한 예측 가능성이 있는지 여부

## 제 14 조 (권익침해 구제방법)

- 이용자는 개인정보침해에 대한 신고나 상담이 필요한 경우 AICU 개인정보 보호 담당부서 뿐만 아니라 다음 기관 등에 문의할 수 있습니다.
  - 개인정보 분쟁조정위원회 (www.kopico.go.kr/(국번없이) 1833-6972)
  - 개인정보 침해신고센터 (privacy.kisa.or.kr/(국번없이) 118)
  - 대검찰청 사이버범죄수사단 (www.spo.go.kr/(국번없이) 1301)
  - 경찰청 사이버안전국 (cyberbureau.police.go.kr/(국번없이) 182)
`;

    // 마크다운을 HTML로 변환하여 표시
    document.getElementById('policy-content').innerHTML = marked.parse(markdownText);
</script>

{% endblock %}
